@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom scrollbar hiding utility for specific elements */
.hide-scrollbar::-webkit-scrollbar {
    display: none; /* For Chrome, Safari, and Opera */
}
.hide-scrollbar {
    -ms-overflow-style: none;  /* For IE and Edge */
    scrollbar-width: none;  /* For Firefox */
}

/* Global scrollbar hiding for the main browser window */
html::-webkit-scrollbar {
    display: none;
}
html {
    -ms-overflow-style: none;
    scrollbar-width: none;
}